<div style="margin-top:2rem;">
	<h3>{{ .Site.Params.cshort }}</h3>
	<p>{{ .Site.Params.clong }}</p>
	<p class="text-secondary">{{ .Site.Params.cdesc }}</p>
</div>
<div>
	<h4>This Site</h4>
	<div class="list-group">
		<a href="/schedule" class="list-group-item list-group-item-action">Schedule</a>
		<a href="/syllabus" class="list-group-item list-group-item-action">Syllabus</a>
		<a href="/#office-hours" class="list-group-item list-group-item-action">Office Hours</a>
	</div>
	<br>
	<h4>Quick Links</h4>
	<div class="list-group">
		<a class="list-group-item list-group-item-action" href="https://ncsu.hosted.panopto.com/...">Panopto</a>
		<a class="list-group-item list-group-item-action" href="https://wolfware.ncsu.edu/course/...">Moodle</a>
		<a class="list-group-item list-group-item-action" href="https://www.gradescope.com/courses/...">Gradescope</a>
	</div>
</div>
