{{/* Week Shortcode */}}
{{- $param := cond (.IsNamedParams) (.Get "week") (cond (gt (len .Params) 0) (.Get 0) "") -}}
{{- $number := $.Page.Store.Get "currentWeek" | default 0 | int -}}
{{- if and (ne $param "") (ge (len (printf "%d" $param)) 1) (ge $param "0") -}}
    {{- $number = $param | int -}}
{{- else -}}
    {{- $number = add $number 1 -}}
{{- end -}}

{{/* Get optional title parameter (either as named parameter or second positional parameter) */}}
{{- $title := cond (.IsNamedParams) (.Get "title") (cond (gt (len .Params) 1) (.Get 1) "") -}}
{{- $titleText := cond (eq $title "") (printf "Week %d" $number) (printf "Week %d - %s" $number $title) -}}

{{/* Print week header */}}
## {{ $titleText }}

{{ if .Page.Params.startDate -}}
	{{- $startDate := time .Page.Params.startDate -}}
	{{- $elapsedDays := int (mul (sub $number 1) 7) -}}
	{{- $currentMonday := $startDate.AddDate 0 0 $elapsedDays -}}
	{{- $currentFriday := $currentMonday.AddDate 0 0 4 -}}
<small style="color:grey;">{{ $currentMonday.Format "Monday, 2006-01-02" }} - {{ $currentFriday.Format "Friday, 2006-01-02" }}</small>
{{- end -}}

{{- $.Page.Store.Set "currentWeek" $number -}}
