<!DOCTYPE html>
<html lang="{{ .Lang | default "en" }}">
    <head>
        <!--- Head -->
        {{- partial "head.html" . -}}
        <!--- Title -->
        {{- block "title" . }}
        <title>{{ .Title }} | {{ .Site.Params.clong }}</title>
        {{- end }}
    </head>
    <body>
        <a id="skip-link" href="#markdown">Skip to text content</a>
        <div id="ncstate-utility-bar" data-prop-show-brick="1" data-prop-cse-id="00578865650663686:7xmauxacbr4" ></div>
        <div class="container-fluid">
            <div class="row flex-xl-nowrap" style="margin-top:40px;">
                {{ if default true (default .Site.Params.showSidebar .Params.showSidebar) }}
                <div class="d-none d-lg-block col-lg-3 col-xl-2" id="sidebar">
                    {{- partial "sidebar.html" . -}}
                </div>
                {{ else }}
                <div class="d-none d-xl-block col-xl-2">
                </div>
                {{ end }}
                {{ if default true (default .Site.Params.showToC .Params.showToC) }}
                <div class="d-none d-lg-block col-lg-2" id="toc">
                    {{- partial "toc.html" . -}}
                </div>
                {{ else }}
                <div class="d-none d-xl-block col-xl-2">
                </div>
                {{ end }}
                <main class="col-12 col-lg-10 col-xl-8 py-md-3 ps-md-5">
					{{ if default true (default .Site.Params.showMenu .Params.showMenu) }}
					{{- partial "menu.html" . -}}
					{{ end }}
					{{ if default false (default .Site.Params.showWIP .Params.showWIP) }}
					<div class="alert alert-warning d-flex align-items-center" role="alert">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
							<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
						</svg>
						<span>
						<b>Work in Progress</b>: Note that this website is for an upcoming course and features including but not limited to assignments, dates and times, or session topics and order are generally subject to change.
						</span>
					</div>
					{{ end }}
                    {{- partial "breadcrumbs.html" . -}}
					<div id="markdown">
                        {{- block "main" . }}{{- end }}
                    </div>
					{{ if default true (default .Site.Params.showFooter .Params.showFooter) }}
                    <footer id="footer">
                        {{- partial "footer.html" . -}}
                    </footer>
					{{ end }}
                </main>
            </div>
        </div>
        <script src="https://cdn.ncsu.edu/brand-assets/utility-bar/v3/ncstate-utility-bar.js"></script>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
