baseURL = "" # Set by deploy script
languageCode = "en-us"
title = "CSC XXX - Example Lecture"
theme = "hugo-theme-ncsu"
canonifyURLs = true
disableKinds = ["taxonomy","RSS"]

[params]
	# Theme specific setting
	showToC = true # ToC on the right
	showSidebar = true # Sidebar on the left
	showWIP	= true # 'Work in progress' message on every page
	showFooter = true  # Site footer with some lecture info
	# Course variables 
	iteration = "Fall 2024"
	year = "2024"
	cshort = "CSC XXX"
	clong = "Example Lecture"
	cfull = "CSC XXX - Example Lecture"
	cdesc = "Some longer course description"
	time = "Monday, Wednesday 6:00pm -- 7:15pm"
	location = "1226 Engineering Building 2 (EB 2)"

# Pull in some data from git
enableGitInfo = true
[frontmatter]
	date = ["date", "publishDate", "lastmod"]
	lastmod = ["lastmod", ":git", "date", "publishDate"]

# Menu
sectionPagesMenu = "main"
[menu]
	[[menu.main]]
		identifier = "about"
		name = "About"
		URL = "/"
		weight = 1
	[[menu.main]]
		identifier = "schedule"
		name = "Schedule"
		URL = "/schedule/"
		weight = 2
	# [[menu.main]]
	# 	identifier = "assignments"
	# 	name = "Assignments"
	# 	URL = "/assignments/"
	# 	weight = 3
	# [[menu.main]]
	# 	identifier = "readings"
	# 	name = "Readings"
	# 	URL = "/readings/"
	# 	weight = 4
	[[menu.main]]
		identifier = "syllabus"
		name = "Syllabus"
		URL = "/syllabus/"
		weight = 5

[markup]
	defaultMarkdownHandler = "goldmark"
	[markup.tableOfContents]
		endLevel = 3
		ordered = false
		startLevel = 1
	[markup.highlight]
		codeFences = true
		guessSyntax = false
		hl_Lines = ""
		lineNoStart = 1
		lineNos = true
		lineNumbersInTable = true
		style = "autumn"
		[markup.goldmark]
			[markup.goldmark.renderer]
				unsafe = true
				[markup.goldmark.parser]
					autoHeadingID = true
			[markup.goldmark.extensions]
				definitionList = true
				footnote = true
				linkify = true
				strikethrough = true
				table = true
				taskList = true
				typographer = true
