@import "colors";

body {
	font-size: 10pt; // Base font size
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a#skip-link {
	position: absolute;
	color: #000;
	background-color: yellow;
	font-weight: 700;
	padding: 4px;
	left: 2%;
	top: 4%;
	z-index: 999;
	transform: translateY(-500%);
	&:focus-within {
		transform: translateY(0%);
	}
}

#sidebar {
	order: 0;
	flex: 0 1 320px;

	z-index: 1000;
	height: calc(100vh-4rem);
	border-right: 1px solid rgba(0,0,0,.1);

	margin-bottom: 2rem;
}

#toc {
	order: 2;

	top: 2rem;
	position: sticky;

	height: calc(100vh - 4rem);
	overflow-y: auto;

	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: .875rem;

	nav#TableOfContents {
		padding-left: 0;
		border-left: 1px solid rgba(0,0,0,.1);
		ul {
			margin-top: 0;
			margin-bottom: 1rem;
			padding-left: 1rem;
			list-style-type: disc;
			li {
				display: block;
				a {
					display: block;
					padding: 0.125rem 1.5rem;
					color: #99979c;
					text-decoration: none;
				}
				> ul {
					margin-bottom: 0;
				}
			}
		}
	}
}

main {
	order: 1;
	.site-branding {
		color: #000;
		clear: both;
		text-align: center;
		.site-title {
			font-size: 3rem;
		}
		.site-subtitle {
			font-size: 2rem;
			color: #444;
		}
	}
	nav#site-menu {
		margin-top: 1rem;
		border-bottom: 1px solid #dcdcdc;
		ul {
			flex-direction: row;
			gap: 2rem;
			li {
				font-size: 14pt;
				width: auto;
				float: none;
				display: inline-block;
				&.active {
					background-color:  #c00;
					color: white;
				}
			}

		}
	}
	#markdown {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
		// Add anchor styling
		h1,h2,h3,h4,h5,h6 {
			margin-top: 3rem;
			a.anchor {
				display: none;
				font-size: .75em;
				vertical-align: middle;
				text-decoration: none;
			}
			&:hover a.anchor {
				display: initial;
			}
		}
		// Hide empty table headers
		table tr th:empty {
			display: none;
		}
	}
	#footer {
		margin-top: 4rem;
		padding-top: 1rem;
		border-top: 1px solid rgba(0,0,0,.1);

		font-size: .875rem;
		color: #99979c;
	}

}
