a#skip-link {
  position: absolute;
  color: #000;
  background-color: yellow;
  font-weight: 700;
  padding: 4px;
  left: 2%;
  top: 4%;
  z-index: 999;
  transform: translateY(-500%);
  &:focus-within {
    transform: translateY(0%);
  }
}

#sidebar {
  z-index: 1000;
  height: calc(100vh-4rem);
  border-right: 1px solid rgba(0,0,0,.1);
  margin-bottom: 2rem;
}

#toc {
  top: 2rem;
  position: sticky;

  height: calc(100vh - 4rem);
  overflow-y: auto;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;

  nav#TableOfContents {
    padding-left: 0;
    border-left: 1px solid rgba(0,0,0,.1);
    ul {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 1rem;
      list-style-type: disc;
      li {
        display: block;
        a {
          display: block;
          padding: 0.125rem 1.5rem;
          color: #99979c;
          text-decoration: none;
        }
        > ul {
          margin-bottom: 0;
        }
      }
    }
  }
}

main {
  max-width: 1000px !important;
  nav#site-menu {
    .navbar-brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      .brand-logo {
        height: auto;
        max-height: 2.4em;
        margin-right: 10px;
      }
      .brand-text {
        line-height: 1.2;
      }
    }

    ul {
      li {
        font-size: 12pt;
        a {
          color: grey;
          &.active {
            color: #c00;
            font-weight: 700;
          }
          &:hover, :focus {
            color:  #c00;
          }
        }
      }

    }
  }
  #footer {
    margin-top: 4rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);

    font-size: .875rem;
    color: #99979c;
  }

}

@media print {
  #sidebar, #toc, #footer {
    display: none !important;
  }
  main {
    display: block !important;
    max-width: 100% !important;
  }
}

figure {
  img{
    border: 1px solid #99979c;
  }
}

#markdown {
  // Bootstrap overwrites
  .text-bg-primary,.text-bg-danger {
    a {
      color: $white;
    }
  }
  .card-body {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-top: 0;
    }
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    a.anchor {
      display: none;
      font-size: .75em;
      vertical-align: middle;
      text-decoration: none;
    }
    &:hover a.anchor {
      display: initial;
    }
  }

  // Hide empty table headers
  table tr th:empty {
    display: none;
  }
  table {
    border-collapse: collapse;
  }

  caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #666666;
    text-align: left;
    caption-side: bottom;
  }

  th {
    text-align: inherit;
  }

  // Add blockquote styling
  blockquote {
    margin: 1em 0;
    padding: .5em 1em .5em .75em; //to keep total left space 16dp

    border-inline-start: .25em solid #99979c;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

// More background colors (for badges mostly)
@mixin generate-background-colors($colors) {
  @each $color, $value in $colors {
    .bg-#{$color} {
      background-color: $value;
    }
  }
}

$badge-colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan
);

@include generate-background-colors($badge-colors);
