<h2 class="footer-heading">{{- .Site.Params.clong -}}</h2>
<p>
This is the course website for the <b>{{ .Site.Params.iteration }}</b> offering of <b>{{ .Site.Params.cfull }}</b> at North Carolina State University (<b>NC State</b>).
<br>
{{ .Site.Params.clong }} is a computer security course for graduate and advanced undergraduate students introducing the concepts and methods of human-centered cyber security research. Topics include the design, planning, execution, and statistical analysis of research studies.
</p>

<div style="display: flex; flex-direction: row; gap: 1em;">
{{- range site.Menus.main }}
<a style="color:grey;" href="{{ .URL | relURL }}">
	{{ .Name }}
</a>
{{- end }}
</div>
