<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<!-- Theme-specific CSS -->
{{- $cssTarget := "css/style.css" }}
{{- $cssOptions	:= (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $style := resources.Get "main.scss" | resources.ExecuteAsTemplate "config.main.scss" . | toCSS $cssOptions | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

<!-- Favicon and apple touch icons-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon-16x16.png" sizes="16x16">
<!-- Fallback -->
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/apple-touch-icon.png" />
