<nav id="site-menu" class="navbar navbar-expand-md navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/logo.png" alt="Brand Logo" class="brand-logo" style="margin-right: 10px;">
			<div class="brand-text">
				<strong>{{ site.Params.clong }}</strong><br>
				<small class="text-muted">{{ site.Params.cshort }} - {{ site.Params.iteration}}</small>
			</div>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="nav nav-fill">
				{{ $currentPage := . }}
				{{ range site.Menus.main }}
					{{ $active := false }}
					{{ if eq .Identifier ($currentPage.Params.menuHighlight | default "") }}
						{{ $active = true }}
					{{ else }}
						{{ $page := (index (split $currentPage.RelPermalink "/") 1) }}
						{{ $active = eq (lower .Name) $page }}
					{{ end }}
					<li class="nav-item ">
						<a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
					</li>
				{{ end }}
			</ul>
		</div>
	</div>
</nav>
