{{- $assignment := cond .IsNamedParams (.Get "id") (.Get 0) -}}
{{- $format := cond .IsNamedParams (.Get "format") (.Get 1) -}}

{{- range (sort $.Site.Data.assignments "id" "desc") -}}
	{{- if eq .id $assignment -}}
		{{- if eq $format "date" -}}
			<span>{{ time.Format "Mon, Jan 2 - 3:04pm" .date }} {{ .time }}</span>
		{{- else if eq $format "label" -}}
			{{- if isset . "url" -}}
				<a class="link-secondary small" id="{{- .short_name -}}" href="{{ .url }}">#{{- .short_name -}}</a>
			{{- else -}}
			<span class="text-bg-secondary small" id="{{- .short_name -}}">#{{- .short_name -}}</span>
			{{- end -}}
		{{- else if eq $format "badge" -}}
			{{- $color := "bg-secondary" -}}
			{{- if isset . "color" -}}
				{{- $color = .color -}}
			{{- end -}}
			{{- if isset . "url" -}}
				<a class="badge {{ $color }}" href="{{ .url }}">{{- .short_name -}}</a>
			{{- else -}}
				<span class="badge {{ $color }}" >{{- .short_name -}}</span>
			{{- end -}}
		{{- else if eq $format "countdown" -}}
			<span class="countdown-timer" data-date="{{ .date }}" data-tz="America/New_York"></span>
			{{- $scripts := $.Page.Store.Get "scripts" | default (slice) -}}
			{{- $scripts = $scripts | append "js/moment.min.js" -}}
			{{- $scripts = $scripts | append "js/moment-timezone-with-data-10-year-range.min.js" -}}
			{{- $scripts = $scripts | append "js/countdown.js" -}}
			{{- $.Page.Store.Set "scripts" $scripts -}}
		{{- else -}}
			{{- if isset . "page" -}}
				<span><a class href="{{ .page }}">{{- .name -}}</a></span>
			{{- else -}}
				<span>{{- .name -}}</span>
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
