{{ $w := default "100%" (.Get 0) }}
{{ $h := default "300" (.Get 1) }}
{{ $r := ( .Inner | chomp) }}

{{- $needs := $.Page.Store.Get "needs" | default (slice) -}}
{{- if not (in $needs "chart") -}}
	{{- $.Page.Store.Set "needs" ( $needs | append "chart" ) -}}
{{- end -}}

{{- $number := $.Page.Store.Get "chartID" | default 0 | int -}}
{{ $id := printf "chart-%d" $number }}

<div style="margin: 0 auto;">
	<canvas id="{{ $id }}" width="{{$w}}" height="{{$h}}"></canvas>
</div>

<script defer>
	document.addEventListener("DOMContentLoaded", function () {
		var ctx = document.getElementById('{{ $id }}').getContext('2d');
		var options = {{ $r | safeJS }};
		new Chart(ctx, options);
	});
</script>

{{- $number = add $number 1 -}}
{{- $.Page.Store.Set "chartID" $number -}}
