{{ $w := default "100%" (.Get 0) }}
{{ $h := default "300" (.Get 1) }}
{{ $r := ( .Inner | chomp) }}
{{ $id := index (seq 999 | shuffle) 1 }}

<div style="width: {{ $w }};height: {{ $h }}px;margin: 0 auto; max-width:100%;">
	<canvas id="{{ $id }}"></canvas>
</div>
<script type="module" src="/js/chart.umd.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		var ctx = document.getElementById('{{ $id }}').getContext('2d');
		var options = {{ $r | safeJS }};
		new Chart(ctx, options);
	});
</script>
