{{ $w := default "100%" (.Get 0) }}
{{ $h := default "300" (.Get 1) }}
{{ $r := ( .Inner | chomp) }}


{{- $number := $.Page.Scratch.Get "chartID" | default 0 | int -}}
{{ $id := printf "chart-%d" $number }}

<div style="margin: 0 auto;">
	<canvas id="{{ $id }}" width="{{$w}}" height="{{$h}}"></canvas>
</div>

<!-- Register script (only once) -->
{{ $.Page.Scratch.Add "scripts" "js/chart.umd.js" }}

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		var ctx = document.getElementById('{{ $id }}').getContext('2d');
		var options = {{ $r | safeJS }};
		new Chart(ctx, options);
	});
</script>

{{- $number = add $number 1 -}}
{{- $.Page.Scratch.Set "chartID" $number -}}
