{{ $context := . }}
{{ $splits := split (.Get "split" | default "1/1") "/" }}
{{ $total := 0 }}
{{ range $splits }}
    {{ $total = add $total (float .) }}
{{ end }}
<div class="container-fluid">
    <div class="row">
        {{ $parts := split .Inner "<--->" }}
        {{ range $index, $part := $parts }}
		{{ $percentage := mul (div (float (index $splits $index)) $total) 100 | int }}
        <div class="col"
             {{- if (index $splits $index) -}}
                style="flex: 1 0 {{ $percentage }}%;"
             {{- else if $context.Get "width" -}}
                style="flex: 1 1 {{ $context.Get "width" }};"
             {{- end -}}>
            {{ $part | markdownify }}
        </div>
        {{ end }}
    </div>
</div>
